<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dryft Music</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/cover.css" type="text/css">

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Dryft Music</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation" class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li role="presentation">
                        <a href="/music">My Music</a>
                        </li>
                        <li role="presentation"><a href="/linkaccounts">Link Accounts</a>
                        </li>
                    {% endif %}
                    
                    <li role="presentation">
                        <a href="showSignIn">Sign In</a>
                    </li>
                    <li role="presentation">
                        <a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Dryft Music</h1>
                <hr>
                <p>One place for all of your favorite playlists</p>
                <a href="/showSignUp" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Listen Naturally</h2>
                    <hr class="light">
                    <p class="text-faded">Dryft allows you to effortlessly sync your favorite playlists from Spotify and Soundcloud and access them through one beautiful interface.</p>
                    <a href="showSignUp" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="created">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="founder">
                        <img src="/static/img/will2.png" heigh="200" width="200">
                    </div>
                    <h2 class="section-heading">Will Smiles</h2>
                    <div>
                        <h4>
                            Co-Founder
                        </h4>
                        <h5 id="mail">
                            <a id="mail" href="mailto:wsmiles@college.harvard.edu">wsmiles@college.harvard.edu</a> 
                        </h5>
                        <h5>
                            561 . 789 . 0248
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="founder">
                        <img src="/static/img/aashay2.png" heigh="200" width="200">
                    </div>
                    <h2 class="section-heading">Aashay Sanghvi</h2>
                    <div>
                        <h4>
                            Co-Founder
                        </h4>
                        <h5 id="mail">
                            <a id="mail" href="mailto:sanghvi@college.harvard.edu">sanghvi@college.harvard.edu</a>
                        </h5>
                        <h5>
                            480 . 415 . 5917
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="founder">
                        <img src="/static/img/patrick.png" heigh="200" width="200">
                    </div>
                    <h2 class="section-heading">Patrick Connors</h2>
                    <div>
                        <h4>
                            Co-Founder
                        </h4>
                        <h5 id="mail">
                            <a id ="mail" href="mailto:patrickconnors@college.harvard.edu">patrickconnors@college.harvard.edu</a> 
                        </h5>
                        <h5>
                            330 . 238 . 0001
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div>
                        <a href="https://www.spotify.com">
                            <img src="/static/img/pspot.png" width="125" height="40">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.soundcloud.com">
                            <img src="/static/img/psc.png" width="125px" height="40px">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <h4>
                        Resources
                    </h4>
                    <h6>
                        <a href="http://azmind.com/2015/03/15/bootstrap-registration-forms-3-free-responsive-templates/">Forms</a>
                    </h6>
                    <h6>
                        <a href="http://startbootstrap.com/template-overviews/creative/">Templates</a>
                    </h6>
                    <h6>
                        <a href="https://github.com/drshrey/spotify-flask-auth-example">Spotify-Python</a>
                    </h6>
                    <h6>
                        <a href="https://github.com/soundcloud/soundcloud-python">SoundCloud-Python</a>
                    </h6>
                </div>
                <div class="col-lg-4 text-center">
                    <h4>
                        Special Thanks To:
                    </h4>
                    <h6><strong>CS50 Staff</strong></h6>
                    <h6>Ezra Zigmond, Harvard 2018</h6>
                    <h6>Jason Brooks, Yale 2016</h6>
                </div>
            </div>
        </div>
    </section>
    

    <!-- jQuery -->
    <script src="static/js/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/js/jquery.easing.min.js"></script>
    <script src="static/js/js/jquery.fittext.js"></script>
    <script src="static/js/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/js/creative.js"></script>

</body>

</html>